<<<<<<< HEAD
html {
  background-color: #000;
}

body {
  margin: 0;
  overflow: hidden;
}

#c1 {
  width: 100%;
}
=======
html {
  background-color: #000;
}

body {
  margin: 0;
  overflow: hidden;
}

#c1 {
  width: 100%;
}
>>>>>>> 44607ac11af755da46d3bf5ecdfd8f673c901738
